*{
    margin: 0;
    padding: 0;    
}

html,body{
    width: 100%;
    height: 100%;
}

.page{
    width: 100%;
    border: 2px solid #000;
    text-align: center;
    padding:15px;
    box-sizing: border-box;
}
/* 第一个盒子 */
.box1{
    width: 100%;
    height: 330px;
}

.photo{
    width: 100%;
    height:200px;
    background: url(./01.jpg) no-repeat;
    background-size: cover;
    
}

.username{
    width: 100%;
    height: 31px;
    padding:15px;
    background-color: #fff;
}

.name{
    width: 80px;
    height: 42px;
    color: #000;
}

.name::after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(./nv.png) no-repeat;
    background-size: contain;
}

.hoppy{
    font-size: 10px;
    color: #fff;
    padding: 6px 10px;
    display: inline;
}

.hoppy1{
    width: 41px;
    height: 20px;
    background-color:#48a6fd;
    float: left;
}

.hoppy2{
    width: 60px;
    height: 20px;
    margin:5px;
    background-color: #1dca42;
    float: left;
}

.hoppy3{
    width: 53px;
    height: 20px;
    background-color: #fb8800;
    float: left;
}

.information{
    margin-top: 39px;
    color: #b8b8b8;
    font-size: 11px;
    line-height: 100%;
    
    
}
.city{
    float: left;
    
}
.city::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(./location.png);
    background-size:contain;
    margin-left: 7px;
}
.net{
    margin-left: 195px;
}
.net::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(./zhiye.png);
    background-size:contain;
    margin-left: 7px;
}
.cosplay{
    float: left;
    margin-top: 11px;
    
}
.cosplay::before{
    content: '';
    display: inline-block;
    width: 21px;
    height: 18px;
    background: url(./aixin.png);
    background-size:contain;
    margin-left: 7px;
}
.wechat{
    margin-left: 195px;
    margin-top: 11px;
}
.wechat::before{
    content: '';
    display: inline-block;
    width: 21px;
    height: 18px;
    background: url(./weixin.png);
    background-size:contain;
    margin-left: 7px;
}

.tel{
    margin-top: 7px;
}
.tel::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(./tel.png);
    background-size:contain;
    margin-left: 7px;
}

.ewm{
    width:33px;
    height: 33px;
    background: url(./ewm.png) no-repeat;
    margin-right: 128px;
}

.coin{
    width:42px;
    height: 50px;
    background: url(./coin.png) no-repeat;
    margin-right: 82px;
}

.box2{
    width: 345px;
    height: 50px;
    padding: 10px;
    display: inline;
}

.p1{
    float: left;
    width: 35px;
    height: 35px;
    background: url(./p1.jpg) no-repeat;
}

.p2{
    float: left;
    width: 35px;
    height: 35px;
    background: url(./p2.jpg) no-repeat;
}

.p3{
    float: left;
    width: 35px;
    height: 35px;
    background: url(./p3.jpg) no-repeat;
}

.box3{
    width: 345px;
    height: 84px;
    padding: 10px;
}

.h3{
    width: 29px;
    height: 14px;
    text-align:left;
    font-size: 24px; 
}

.box4{
    width: 345px;
    height: 85px;
    padding: 10px;
}

.h3{
    width: 28px;
    height: 13px;
    text-align: left;
    font-size: 24px;
}

.box5{
    width: 344px;
    height: 91px;
    padding: 10px;
}

.p4{
    background: url(./p4.png) no-repeat;
    background-size: cover;
}

.box6{
    width: 345px;
    height: 161px;
    padding: 10px;
    display: inline;
}

.p5{
    width: 102px;
    height: 102px; 
    background: url(./p5.png) no-repeat;
}

.p6{
    width: 102px;
    height: 102px;
    background: url(./p6.png) no-repeat;
}

.p7{
    width: 102px;
    height: 102px;
    background: url(./p7.png) no-repeat;
}